In [22]:
import pandas as pd
### Part 2: Load the file: study_performance.csv into a DataFrame.
data = 'study_performance.csv'
## Read the csv file
df = pd.read_csv(data)


##Part 2: 1 - Display the first 20 rows.
print(df.head(20))

    gender race_ethnicity parental_level_of_education         lunch  \
0   female        group B           bachelor's degree      standard
1   female        group C                some college      standard
2   female        group B             master's degree      standard
3     male        group A          associate's degree  free/reduced
4     male        group C                some college      standard
5   female        group B          associate's degree      standard
6   female        group B                some college      standard
7     male        group B                some college  free/reduced
8     male        group D                 high school  free/reduced
9   female        group B                 high school  free/reduced
10    male        group C          associate's degree      standard
11    male        group D          associate's degree      standard
12  female        group B                 high school      standard
13    male        group A                some college      standard
14  female        group A             master's degree      standard
15  female        group C            some high school      standard
16    male        group C                 high school      standard
17  female        group B            some high school  free/reduced
18    male        group C             master's degree  free/reduced
19  female        group C          associate's degree  free/reduced

   test_preparation_course  math_score  reading_score  writing_score
0                     none          72             72             74
1                completed          69             90             88
2                     none          90             95             93
3                     none          47             57             44
4                     none          76             78             75
5                     none          71             83             78
6                completed          88             95             92
7                     none          40             43             39
8                completed          64             64             67
9                     none          38             60             50
10                    none          58             54             52
11                    none          40             52             43
12                    none          65             81             73
13               completed          78             72             70
14                    none          50             53             58
15                    none          69             75             78
16                    none          88             89             86
17                    none          18             32             28
18               completed          46             42             46
19                    none          54             58             61

In [23]:
### Part 2: 2 - Display the last 3 rows.
print(df.tail(3))

     gender race_ethnicity parental_level_of_education         lunch  \
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test_preparation_course  math_score  reading_score  writing_score
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

In [24]:
### Part2: 3 - Display the statistical summary.
print(df.describe())

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [25]:
##Part2: 4 - Display the mean, minimum, and maximum values of ‘reading_score’ column.
print("The mean of the reading score is:", df['reading_score'].mean())
print("The minimum value of the reading score is:", df['reading_score'].min())
print("The maximum value of the reading score is:", df['reading_score'].max())

The mean of the reading score is: 69.169
The minimum value of the reading score is: 17
The maximum value of the reading score is: 100

In [26]:
### Part 2: 5 - Display the total non-empty entries and datatypes of the columns.
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [27]:
### Part 2: 6 - Display the value count of ‘race_ethnicity’ and ‘parental_level_of_education’ columns.
print("The value count of the race ethnicity and parental level of education are:")
print(df[['race_ethnicity','parental_level_of_education']].value_counts())

The value count of the race ethnicity and parental level of education are:
race_ethnicity  parental_level_of_education
group C         associate's degree             78
                some college                   69
group D         some college                   67
group C         high school                    64
group D         associate's degree             50
                some high school               50
group C         some high school               49
group B         high school                    48
group D         high school                    44
group B         associate's degree             41
group C         bachelor's degree              40
group E         associate's degree             39
group B         some high school               38
                some college                   37
group E         some college                   35
group D         bachelor's degree              28
group A         some high school               24
group D         master's degree                23
group E         high school                    22
group B         bachelor's degree              20
group C         master's degree                19
group A         high school                    18
                some college                   18
group E         bachelor's degree              18
                some high school               18
group A         associate's degree             14
                bachelor's degree              12
group E         master's degree                 8
group B         master's degree                 6
group A         master's degree                 3
Name: count, dtype: int64

In [28]:
###Part 2: 7 - Display the actual distinct values and the number of distinct values in ‘lunch’ column.
print("\nThe actuel distinct values  of lunch are:", df['lunch'].unique())
print("\nThe number of distinct values of lunch are:", df['lunch'].nunique())

The actuel distinct values  of lunch are: ['standard' 'free/reduced']

The number of distinct values of lunch are: 2