In [20]:
### Task 1: Work with SQlAlchemy.
## import libraries
import pandas as pd
import sqlalchemy as db

In [21]:
### 1.2 - Create a database â€“ Store.db
#This is done by just specifying the database name in the after filepath e.g. filepath\Store.db


#Create an engine
engine = db.create_engine('sqlite:///Store.db')

#Create a connection
conn = engine.connect()

# Create an instance of MetaData
metadata = db.MetaData()

In [22]:
#### 1. 3 - Create tables:
Product = db.Table('Product', metadata,
db.Column('Product_Id', db.Integer(),primary_key=True),
db.Column('Product_Name', db.String(255), nullable=False),
db.Column('Price', db.Integer()),
db.Column('Aisle_Id', db.String(255), nullable=False))

order = db.Table('Order', metadata,
db.Column('Order_Id', db.Integer(),primary_key=True),
db.Column('Customer_Name', db.String(255), nullable=False),
db.Column('Amount', db.Integer()),
db.Column('Product_Id', db.String(255), nullable=False))

aisle = db.Table('Aisle', metadata,
db.Column('Aisle_Id', db.Integer(),primary_key=True),
db.Column('Aisle_Name', db.String(255), nullable=False),
db.Column('Product_Id', db.String(255), nullable=False))

In [26]:
#### 1.4 - Insert data into these tables:

# Create changes in database
metadata.create_all(engine)
   # Insert into Product
query = db.insert(product)
#conn.execute(product.insert(), )
values = [
    {'Product_Id': 1, 'Product_Name': 'Apple', 'Price': 1, 'Aisle_Id': 'A1'},
    {'Product_Id': 2, 'Product_Name': 'Bread', 'Price': 2, 'Aisle_Id': 'A2'},
    {'Product_Id': 3, 'Product_Name': 'Milk', 'Price': 3, 'Aisle_Id': 'A3'},
    {'Product_Id': 4, 'Product_Name': 'Eggs', 'Price': 4, 'Aisle_Id': 'A1'},
    {'Product_Id': 5, 'Product_Name': 'Juice', 'Price': 5, 'Aisle_Id': 'A2'},
    {'Product_Id': 6, 'Product_Name': 'Cereal', 'Price': 6, 'Aisle_Id': 'A4'}
]

# # Insert into Order
# conn.execute(order.insert(), [
#     {'Order_Id': 101, 'Customer_Name': 'Alice', 'Amount': 2, 'Product_Id': '1'},
#     {'Order_Id': 102, 'Customer_Name': 'Bob', 'Amount': 1, 'Product_Id': '2'},
#     {'Order_Id': 103, 'Customer_Name': 'Charlie', 'Amount': 3, 'Product_Id': '3'},
#     {'Order_Id': 104, 'Customer_Name': 'David', 'Amount': 1, 'Product_Id': '1'},
#     {'Order_Id': 105, 'Customer_Name': 'Ella', 'Amount': 2, 'Product_Id': '5'},
#     {'Order_Id': 106, 'Customer_Name': 'Frank', 'Amount': 1, 'Product_Id': '4'},
#     {'Order_Id': 107, 'Customer_Name': 'Grace', 'Amount': 2, 'Product_Id': '6'},
#     {'Order_Id': 108, 'Customer_Name': 'Helen', 'Amount': 1, 'Product_Id': '3'},
# ])

# # Insert into Aisle
# conn.execute(aisle.insert(), [
#     {'Aisle_Id': 'A1', 'Aisle_Name': 'Fruits', 'Product_Id': '1'},
#     {'Aisle_Id': 'A2', 'Aisle_Name': 'Bakery', 'Product_Id': '2'},
#     {'Aisle_Id': 'A3', 'Aisle_Name': 'Dairy', 'Product_Id': '3'},
#     {'Aisle_Id': 'A4', 'Aisle_Name': 'Cereal & Grains', 'Product_Id': '6'},
# ])

results = conn.execute(query,values)

OperationalError: (sqlite3.OperationalError) database is locked
[SQL: INSERT INTO "Product" ("Product_Id", "Product_Name", "Price", "Aisle_Id") VALUES (?, ?, ?, ?)]
[parameters: [(1, 'Apple', 1, 'A1'), (2, 'Bread', 2, 'A2'), (3, 'Milk', 3, 'A3'), (4, 'Eggs', 4, 'A1'), (5, 'Juice', 5, 'A2'), (6, 'Cereal', 6, 'A4')]]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
#### 2.3 - Query database to get employee table and display data.

# Query the database
cur.execute("SELECT * FROM employee")
employees = cur.fetchall()

# Display the rows
print('\nEmployee table content:')
for employee in employees:
    print(employee)

Employee table content:
(1, 'John Smith', 1, 'CEO', None)
(2, 'Sarah Goodes', 1, 'CFO', 1)
(3, 'Wayne Ablett', 1, 'CIO', 1)
(4, 'Michelle Carey', 2, 'HR Manager', 1)
(5, 'Chris Matthews', 3, 'Sales Manager ', 2)
(6, 'Andrew Judd', 4, 'Development Manager', 3)
(7, 'Danielle McLeod', 5, 'Support Manager', 3)
(8, 'Matthew Swan', 2, 'HR Representative', 4)
(9, 'Stephanie Richardson', 2, 'Salesperson', 5)
(10, 'Tony Grant', 3, 'Salesperson', 5)
(11, 'Jenna Lockett', 4, 'Front-End Developer', 6)
(12, 'Michael Dunstall', 4, 'Back-End Developer', 6)
(13, 'Jane Voss', 4, 'Back-End Developer', 6)
(14, 'Anthony Hird', None, 'Support', 7)
(15, 'Natalie Rocca', 5, 'Support', 7)

In [ ]:
#### 2.4 - Creating a join query: Write your Join Select Statement.
#Retrieving data
sql = '''SELECT e.employee_id, e.full_name, \
e.job_role, e.manager_id, d.department_name \
from employee e INNER JOIN department d \
ON e.department_id = d.department_id'''

In [ ]:
### 2.5 - Query database to get query and load into a Python object.
#Executing the query
cur.execute(sql)

#Fetching 1st row from the table
result = cur.fetchall()

In [ ]:
#### 2.6 - Load Python object into a dataframe, create column names and display first 5 rows.

# Load result into a Dataframe
join_table = pd.DataFrame(result, \
                          columns=['Employee_Id','Employee_Name',\
                                   'Job_Role','Manager_Id',\
                                   'Department_Name'])
print('\n The top 5 records of Employee and Department tables are:')
print(join_table.head())

 The top 5 records of Employee and Department tables are:
   Employee_Id   Employee_Name        Job_Role  Manager_Id Department_Name
0            1      John Smith             CEO         NaN       Executive
1            2    Sarah Goodes             CFO         1.0       Executive
2            3    Wayne Ablett             CIO         1.0       Executive
3            4  Michelle Carey      HR Manager         1.0              HR
4            5  Chris Matthews  Sales Manager          2.0           Sales

In [ ]:
#### 2.7 - Export the content of dataframe to a CSV file, then close connection.

# Export the result into a CSV file
join_table.to_csv("emp_dep.csv",index=False)

# Close connection
conn.close()

In [ ]:
#### Task3 - Working with SQLAlchemy
### 3.1 - Install Python SQLAlchemy Library
import sqlalchemy as db

In [ ]:
## 3.2 - Create engine, a connection, and instance of the MetaData() function.
#Create an engine
engine = db.create_engine('sqlite:///Mydata.db')

#Create a connection
conn = engine.connect()

# Create an instance of MetaData
metadata = db.MetaData()

In [ ]:
### 3.3 - Create a table called â€˜managerâ€™ with columns: Id, Manager Name, Title, and Sex.
manager = db.Table('manager', metadata,
db.Column('Id', db.Integer(),primary_key=True),
db.Column('Manager_Name', db.String(255), nullable=False),
db.Column('Title', db.String(255), nullable=False),
db.Column('Sex', db.String(1)))

In [ ]:
### 3.4 - Commit changes to the database.
# Create changes in database
metadata.create_all(engine)

In [ ]:
### 3.5 - Insert values into tables with Id from 1 to 7.
# Insert multiple rows of data into table
query = db.insert(manager)
values = [{'Id':'1', 'Manager_Name':'Jane', 'Title':'General Manager', 'Sex':'F'},
          {'Id':'2', 'Manager_Name':'Jacob', 'Title':'Regional Manager', 'Sex':'M'},
          {'Id':'3', 'Manager_Name':'Jill', 'Title':'Senior Manager', 'Sex':'F'},
          {'Id':'4', 'Manager_Name':'Justin', 'Title':'Branch Manager', 'Sex':'M'},
          {'Id':'5', 'Manager_Name':'John', 'Title':'Regional Manager', 'Sex':'M'},
          {'Id':'6', 'Manager_Name':'James', 'Title':'Asst. Manager', 'Sex':'F'},
          {'Id':'7', 'Manager_Name':'June', 'Title':'Senior Manager', 'Sex':'F'}]
results = conn.execute(query,values)

In [ ]:
#### 3.6 - Query database to get query, load into a Python object and display.
# Retrieve table data
output = conn.execute(db.select(manager)).fetchall()
print(output)

[(1, 'Jane', 'General Manager', 'F'), (2, 'Jacob', 'Regional Manager', 'M'), (3, 'Jill', 'Senior Manager', 'F'), (4, 'Justin', 'Branch Manager', 'M'), (5, 'John', 'Regional Manager', 'M'), (6, 'James', 'Asst. Manager', 'F'), (7, 'June', 'Senior Manager', 'F')]

In [ ]:
### 3.7 - Commit changes to the database and close connection.
# Commit changes to the database
conn.commit()

# Close connection
conn.close()

In [ ]:
#### Task 4: Working with Pandas to_sql() and SQLAlchemy

### 1 -    Install Python SQLAlchemy Library.
import pandas as pd
import sqlalchemy as db

In [ ]:
### 4.2 - Create engine, a connection, and instance of the MetaData() function.
#Create an engine
engine = db.create_engine('sqlite:///Rumba.db')

#Create a connection
conn = engine.connect()

# Create an instance of MetaData
metadata = db.MetaData()

In [ ]:
### 4.3 - Read the CSV file created in the first exercise.
df = pd.read_csv('emp_dep.csv')
df.to_sql(con=engine, name="Emp_Dep", if_exists='replace', index=False)
print('Number of records successfully loaded: ', len(df))

Number of records successfully loaded:  14

In [ ]:
### 4.4 - Load the tables, Emp_Dep and manager.
emp_dep = db.Table('Emp_Dep', metadata, autoload_with=engine)
manager = db.Table('manager', metadata, autoload_with=engine)

In [ ]:
from sqlalchemy import text

# Execute the PRAGMA query to get table info
result = conn.execute(text("PRAGMA table_info(manager)"))

# Print the columns of the manager table
for row in result:
    print(row)

(0, 'Id', 'INTEGER', 1, None, 1)
(1, 'FirstName', 'VARCHAR(255)', 1, None, 0)
(2, 'Title', 'VARCHAR(255)', 1, None, 0)
(3, 'Sex', 'VARCHAR(1)', 0, None, 0)

In [ ]:
### 4.5 - Creating a join query: Write your Join Select Statement with an order clause on Employee_Id.
##Query database to joined table and load into a Python object.
# Create a join query
join_query = db.select(emp_dep.columns.Employee_Id,\
                       emp_dep.columns.Employee_Name,\
                       emp_dep.columns.Job_Role, \
                       emp_dep.columns.Department_Name, \
                       manager.columns.FirstName).\
select_from(emp_dep.join(manager,\
                         emp_dep.columns.Manager_Id \
                         == manager.columns.Id)).\
order_by(emp_dep.columns.Employee_Id)

# Retrieve data
output = conn.execute(join_query)
result = output.fetchall()

In [ ]:
### 4.6 - Load Python object into a dataframe, display data and close connection.
# Load result into a Dataframe
data = pd.DataFrame(result)
print(data)

# Close connection
conn.close()

    Employee_Id         Employee_Name             Job_Role Department_Name  \
0             2          Sarah Goodes                  CFO       Executive
1             3          Wayne Ablett                  CIO       Executive
2             4        Michelle Carey           HR Manager              HR
3             5        Chris Matthews       Sales Manager            Sales
4             6           Andrew Judd  Development Manager     Development
5             7       Danielle McLeod      Support Manager         Support
6             8          Matthew Swan    HR Representative              HR
7             9  Stephanie Richardson          Salesperson              HR
8            10            Tony Grant          Salesperson           Sales
9            11         Jenna Lockett  Front-End Developer     Development
10           12      Michael Dunstall   Back-End Developer     Development
11           13             Jane Voss   Back-End Developer     Development
12           15         Natalie Rocca              Support         Support

   FirstName
0       Jane
1       Jane
2       Jane
3      Jacob
4       Jill
5       Jill
6     Justin
7       John
8       John
9      James
10     James
11     James
12      June