In [5]:
## 2- Install Python Pandas, NumPy, and SciPy Library.
import pandas as pd

In [6]:
## 3 - Import "Sales.csv"
sales = pd.read_csv('Sales.csv')

print(sales.head())

   sales_id customer_id      date    item  price  quantity
0         1        C001  1/1/2024   Apple    1.2         1
1         2        C002  1/2/2024  Banana    0.5         5
2         3        C003  1/3/2024  Orange    0.8         8
3         4        C004  1/4/2024    Milk    1.5         2
4         5        C005  1/5/2024   Bread    1.0         1

In [7]:
## 4 - Data Mapping: Create a category dictionary and map to Item column in the dataframe.
category = {"Apple": "Fruits", "Orange": "Fruits", "Banana": "Fruits",
     "Cheese": "Dairy", "Milk": "Dairy", "Bread": "Bakery",
     "Chicken": "Meat", "Beef": "Meat", "Pork": "Meat", "Fish": "Fish"}

# Mapping Item to category
sales["category"] = sales["item"].map(category)

In [10]:
## 5 - Replace “Fish” in Category column with “Seafood”.
sales["category"] = sales["category"].replace('Fish', 'Seafood')

#print(duplicate)
print(sales)

    sales_id customer_id       date     item  price  quantity category
0          1        C001   1/1/2024    Apple    1.2         1   Fruits
1          2        C002   1/2/2024   Banana    0.5         5   Fruits
2          3        C003   1/3/2024   Orange    0.8         8   Fruits
3          4        C004   1/4/2024     Milk    1.5         2    Dairy
4          5        C005   1/5/2024    Bread    1.0         1   Bakery
5          6        C001   1/6/2024  Chicken   12.0         3     Meat
6          7        C006   1/7/2024     Fish    4.0         5  Seafood
7          8        C007   1/8/2024     Pork    7.3         8     Meat
8          9        C008   1/9/2024     Milk   15.0         2    Dairy
9         10        C009  1/10/2024    Bread    1.0         1   Bakery
10        11        C001   1/1/2024    Apple    1.2        10   Fruits
11        12        C010  1/12/2024  Chicken   12.0         5     Meat
12        13        C011  1/13/2024   Orange    0.8         8   Fruits
13        14        C012  1/14/2024     Milk    1.5         2    Dairy
14        15        C013  1/15/2024    Bread    1.0         1   Bakery
15        16        C014  1/16/2024    Apple    1.2        10   Fruits
16        17        C015  1/17/2024   Banana    0.5         5   Fruits
17        18        C016  1/18/2024     Fish    6.0         8  Seafood
18        19        C017  1/19/2024     Pork    7.3         6     Meat
19        20        C018  1/20/2024    Bread    1.0         1   Bakery
20        21        C019  1/21/2024    Apple    1.2        10   Fruits
21        22        C020  1/22/2024     Beef    9.5         5     Meat
22        23        C021  1/23/2024  Chicken   12.0         8     Meat
23        24        C022  1/24/2024     Milk    1.5         2    Dairy
24        25        C023  1/25/2024    Bread    1.0         1   Bakery
25        26        C024  1/26/2024    Apple    1.2        10   Fruits
26        27        C025  1/27/2024     Pork    7.3         5     Meat
27        28        C026  1/28/2024   Orange    0.8         8   Fruits
28        29        C027  1/29/2024     Milk    1.5         2    Dairy
29        30        C028  1/30/2024    Bread    1.0         1   Bakery
30        31        C029  1/31/2024     Beef    9.5        10     Meat
31        32        C030   2/1/2024   Banana    0.5         5   Fruits
32        33        C031   2/2/2024   Orange    0.8         8   Fruits
33        34        C032   1/2/2024     Milk    1.5         2    Dairy
34        35        C033   2/3/2024     Fish    6.0         5  Seafood
35        36        C034   2/4/2024    Apple    1.2        10   Fruits
36        37        C035   1/5/2024   Banana    0.5         5   Fruits
37        38        C036   2/6/2024   Orange    0.8         3   Fruits
38        39        C037   2/7/2024  Chicken   12.0         2     Meat
39        40        C038   1/8/2024    Bread    1.0         1   Bakery
40        41        C039   2/9/2024     Pork    7.3        10     Meat
41        42        C040  2/10/2024   Banana    0.5         5   Fruits
42        43        C041  2/11/2024     Beef    9.5         8     Meat
43        44        C042  1/12/2024     Milk    1.5         2    Dairy
44        45        C043  2/13/2024    Bread    1.0         1   Bakery
45        46        C044  2/14/2024     Pork    7.3        10     Meat
46        47        C045  1/15/2024  Chicken   12.0         5     Meat
47        48        C046  2/16/2024   Orange    0.8         8   Fruits
48        49        C047  2/17/2024     Milk    1.5         2    Dairy
49        50        C048  1/18/2024     Fish    6.0         1  Seafood

In [11]:
## 6 - Discretization and Binning: Define the number of bins.
num_bins = 5

In [12]:
## 7- Using equal width binning on the Price column and create a new column, Price_Bins.
# Binning with equal width
sales['Price_Bins'] = pd.cut(sales['price'], bins=num_bins, labels=False)

In [15]:
## 8 - Using equal frequency binning on the Price column and create a new column, Price_Category. Give labels to the bins.
sales['Price_Category'] = pd.cut(sales['price'], bins=num_bins, labels=['Cheap', 'Fairly Cheap', 'Moderate', 'Fairly Expensive', 'Expensive'])

In [16]:
## 9 - Display first 10 rows to see effect.
print(sales.head(10))

   sales_id customer_id       date     item  price  quantity category  \
0         1        C001   1/1/2024    Apple    1.2         1   Fruits
1         2        C002   1/2/2024   Banana    0.5         5   Fruits
2         3        C003   1/3/2024   Orange    0.8         8   Fruits
3         4        C004   1/4/2024     Milk    1.5         2    Dairy
4         5        C005   1/5/2024    Bread    1.0         1   Bakery
5         6        C001   1/6/2024  Chicken   12.0         3     Meat
6         7        C006   1/7/2024     Fish    4.0         5  Seafood
7         8        C007   1/8/2024     Pork    7.3         8     Meat
8         9        C008   1/9/2024     Milk   15.0         2    Dairy
9        10        C009  1/10/2024    Bread    1.0         1   Bakery

   Price_Bins    Price_Category
0           0             Cheap
1           0             Cheap
2           0             Cheap
3           0             Cheap
4           0             Cheap
5           3  Fairly Expensive
6           1      Fairly Cheap
7           2          Moderate
8           4         Expensive
9           0             Cheap

In [18]:
## 10 - Data Type Conversion: Check datatype for Sales dataframe.
print(sales.dtypes)

sales_id             int64
customer_id         object
date                object
item                object
price              float64
quantity             int64
category            object
Price_Bins           int64
Price_Category    category
dtype: object

In [20]:
## 11 - Convert datatype for Sales_Id and Price_Category to a string datatype.
sales['sales_id'] = sales['sales_id'].astype(str)
sales['Price_Category'] = sales['Price_Category'].astype(str)

In [21]:
## 12 - Check datatype for Sales dataframe after conversion.
print("The new data types are: ")
print(sales.dtypes)

The new data types are:
sales_id           object
customer_id        object
date               object
item               object
price             float64
quantity            int64
category           object
Price_Bins          int64
Price_Category     object
dtype: object

In [23]:
## 13 - Random Sampling: Import random and randomly sample 4 rows in the Sales dataframe. Print result.
import random
random_sample = sales.sample(n=4)
print(random_sample)

   sales_id customer_id       date     item  price  quantity category  \
38       39        C037   2/7/2024  Chicken   12.0         2     Meat
17       18        C016  1/18/2024     Fish    6.0         8  Seafood
46       47        C045  1/15/2024  Chicken   12.0         5     Meat
0         1        C001   1/1/2024    Apple    1.2         1   Fruits

    Price_Bins    Price_Category
38           3  Fairly Expensive
17           1      Fairly Cheap
46           3  Fairly Expensive
0            0             Cheap

In [24]:
## 14 - Data Aggregation: Using groupby function, group by Item column and calculate the sum of the Quantity column.
#--------- Data Aggregation--------------
# Group by 'Item' and calculate the sum of 'Quantity'
item_quantity = sales.groupby('item')['quantity'].sum()
print(item_quantity)

item
Apple      51
Banana     25
Beef       23
Bread       8
Chicken    23
Fish       19
Milk       16
Orange     43
Pork       39
Name: quantity, dtype: int64

In [25]:
## 15 - Using groupby function, group by Item column and compute aggregration functions
#(mean, std, min, max, count) on the Quantity column.
# Group by 'Item' and compute multiple aggregation functions
agg_result = sales.groupby('item').agg({'quantity': ['mean', 'std', 'min', 'max', 'count']})
print("\nAggregation Result:")
print(agg_result)

Aggregation Result:
         quantity
             mean       std min max count
item
Apple    8.500000  3.674235   1  10     6
Banana   5.000000  0.000000   5   5     5
Beef     7.666667  2.516611   5  10     3
Bread    1.000000  0.000000   1   1     8
Chicken  4.600000  2.302173   2   8     5
Fish     4.750000  2.872281   1   8     4
Milk     2.000000  0.000000   2   2     8
Orange   7.166667  2.041241   3   8     6
Pork     7.800000  2.280351   5  10     5

In [26]:
## 16 - Calculate Sales_Amount by multiplying Price and Quantity.
## Using transform,  group by Item column and calculate the mean of the Sales_Amount column.
# Create Sales_Amount column from Price * Quantity
sales['Sales_Amount'] = sales['price'] * sales['quantity']

# Group by 'Item' and calculate the mean Sales_Amount
mean_amount= sales.groupby('item')['Sales_Amount'].transform('mean')

In [27]:
## 17 - Add Mean_Sales to dataframe and display first 5 rows of result.
# Add the mean amount to the DataFrame
sale['Mean_Sales'] = mean_amount
print(sales.head())

  sales_id customer_id      date    item  price  quantity category  \
0        1        C001  1/1/2024   Apple    1.2         1   Fruits
1        2        C002  1/2/2024  Banana    0.5         5   Fruits
2        3        C003  1/3/2024  Orange    0.8         8   Fruits
3        4        C004  1/4/2024    Milk    1.5         2    Dairy
4        5        C005  1/5/2024   Bread    1.0         1   Bakery

   Price_Bins Price_Category  Sales_Amount
0           0          Cheap           1.2
1           0          Cheap           2.5
2           0          Cheap           6.4
3           0          Cheap           3.0
4           0          Cheap           1.0

In [28]:
## 18 - Calculate Sales_Amount percentage total by custom function.
## Using apply, group by Item column by applying the result of the custom function.
# Define a custom function to calculate the percentage total
def calc_amount(sales):
    total_amount = sales['Sales_Amount'].sum()
    sales['Percentage_Total'] = (sales['Sales_Amount'] / total_amount) * 100
    return sales

# Apply the custom function to each group defined by 'Item'
result = sales.groupby('item').apply(calc_amount, include_groups=False)
print(result.head())

         sales_id customer_id       date  price  quantity category  \
item
Apple 0         1        C001   1/1/2024    1.2         1   Fruits
      10       11        C001   1/1/2024    1.2        10   Fruits
      15       16        C014  1/16/2024    1.2        10   Fruits
      20       21        C019  1/21/2024    1.2        10   Fruits
      25       26        C024  1/26/2024    1.2        10   Fruits

          Price_Bins Price_Category  Sales_Amount  Percentage_Total
item
Apple 0            0          Cheap           1.2          1.960784
      10           0          Cheap          12.0         19.607843
      15           0          Cheap          12.0         19.607843
      20           0          Cheap          12.0         19.607843
      25           0          Cheap          12.0         19.607843

In [29]:
## 19 - Data Transformation: Import library and using StandardScaler function, scale columns Price, Quantity, and Sales_Amount.
##      Display the first 5 rows of the resulting dataframe.
#---------Data Transformation---------
from sklearn.preprocessing import StandardScaler

# Scale numeric variables using StandardScaler
scaler = StandardScaler()
sales[['Price', 'Quantity', 'Sales_Amount']] = scaler.fit_transform(sales[['price', 'quantity', 'Sales_Amount']])

print(sales.head())

  sales_id customer_id      date    item  price  quantity category  \
0        1        C001  1/1/2024   Apple    1.2         1   Fruits
1        2        C002  1/2/2024  Banana    0.5         5   Fruits
2        3        C003  1/3/2024  Orange    0.8         8   Fruits
3        4        C004  1/4/2024    Milk    1.5         2    Dairy
4        5        C005  1/5/2024   Bread    1.0         1   Bakery

   Price_Bins Price_Category  Sales_Amount     Price  Quantity
0           0          Cheap     -0.736327 -0.642428 -1.209226
1           0          Cheap     -0.687997 -0.808983  0.018415
2           0          Cheap     -0.543007 -0.737602  0.939145
3           0          Cheap     -0.669408 -0.571047 -0.902316
4           0          Cheap     -0.743762 -0.690015 -1.209226

In [30]:
## 20 - Using get_dummies, convert categorical variables into dummies and the Boolean resulting datatype to int.
##      Display the first 5 rows of the resulting dataframe.

# Convert categorical variable into dummy/indicator variables
dummy_sales = pd.get_dummies(sales)

# Convert boolean True/False to integer 0s and 1s
dummy_sales = dummy_sales.astype(int)

print(dummy_sales.head())

   price  quantity  Price_Bins  Sales_Amount  Price  Quantity  sales_id_1  \
0      1         1           0             0      0        -1           1
1      0         5           0             0      0         0           0
2      0         8           0             0      0         0           0
3      1         2           0             0      0         0           0
4      1         1           0             0      0        -1           0

   sales_id_10  sales_id_11  sales_id_12  ...  category_Bakery  \
0            0            0            0  ...                0
1            0            0            0  ...                0
2            0            0            0  ...                0
3            0            0            0  ...                0
4            0            0            0  ...                1

   category_Dairy  category_Fruits  category_Meat  category_Seafood  \
0               0                1              0                 0
1               0                1              0                 0
2               0                1              0                 0
3               1                0              0                 0
4               0                0              0                 0

   Price_Category_Cheap  Price_Category_Expensive  \
0                     1                         0
1                     1                         0
2                     1                         0
3                     1                         0
4                     1                         0

   Price_Category_Fairly Cheap  Price_Category_Fairly Expensive  \
0                            0                                0
1                            0                                0
2                            0                                0
3                            0                                0
4                            0                                0

   Price_Category_Moderate
0                        0
1                        0
2                        0
3                        0
4                        0

[5 rows x 166 columns]