In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
### Part I: 2 - Using Numpy, run the following code:
a = np.array([[1,2,3, 4,5],[20,15,46, 73, 88],['Ben', 'Fred', 'Jane', 'Dan', 'Ken'], ['blue', 'red', 'grey', 'cyan', 'neon']])

In [4]:
### Part I: 3 - Print the array
print(a)

[['1' '2' '3' '4' '5']
 ['20' '15' '46' '73' '88']
 ['Ben' 'Fred' 'Jane' 'Dan' 'Ken']
 ['blue' 'red' 'grey' 'cyan' 'neon']]

In [5]:
##Part I: 4 - Using shape()
a.shape

(4, 5)

In [13]:
df = pd.DataFrame(a)

In [14]:
print(df)

      0     1     2     3     4
0     1     2     3     4     5
1    20    15    46    73    88
2   Ben  Fred  Jane   Dan   Ken
3  blue   red  grey  cyan  neon

In [16]:
### Part I: 5 - Using describe()
print(df.describe())

        0  1  2  3  4
count   4  4  4  4  4
unique  4  4  4  4  4
top     1  2  3  4  5
freq    1  1  1  1  1

In [17]:
### Part I: 6 - Using dtype
df.dtypes

0    object
1    object
2    object
3    object
4    object
dtype: object

In [22]:
### Part I: 7 - Using info()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      object
 1   1       4 non-null      object
 2   2       4 non-null      object
 3   3       4 non-null      object
 4   4       4 non-null      object
dtypes: object(5)
memory usage: 292.0+ bytes
None

In [23]:
##Part 2: 3 - Download the shipping.csv file and save it to your desired location. Copy filepath into the dataset_url.
dataset_url = 'shipping.csv'
## Read the csv file
df = pd.read_csv(dataset_url)

In [24]:
## Part 2: 4 - Using head() Display the top 5 rows of the dataset.
print(df.head(5))

   ID Warehouse_block Mode_of_Shipment  Customer_care_calls  Customer_rating  \
0   1               D           Flight                    4                2
1   2               F           Flight                    4                5
2   3               A           Flight                    2                2
3   4               B           Flight                    3                3
4   5               C           Flight                    2                2

   Cost_of_the_Product  Prior_purchases Product_importance Gender  \
0                  177                3                low      F
1                  216                2                low      M
2                  183                4                low      M
3                  176                4             medium      M
4                  184                3             medium      F

   Discount_offered  Weight_in_gms  Reached.on.Time_Y.N
0                44           1233                    1
1                59           3088                    1
2                48           3374                    1
3                10           1177                    1
4                46           2484                    1

In [25]:
### Part 2: 5 - Using tail() - Display the bottom 7 rows of the dataset.
print(df.tail(7))

          ID Warehouse_block Mode_of_Shipment  Customer_care_calls  \
10992  10993               D             Ship                    5
10993  10994               F             Ship                    5
10994  10995               A             Ship                    4
10995  10996               B             Ship                    4
10996  10997               C             Ship                    5
10997  10998               F             Ship                    5
10998  10999               D             Ship                    2

       Customer_rating  Cost_of_the_Product  Prior_purchases  \
10992                1                  236                5
10993                1                  257                6
10994                1                  252                5
10995                1                  232                5
10996                4                  242                5
10997                2                  223                6
10998                5                  155                5

      Product_importance Gender  Discount_offered  Weight_in_gms  \
10992             medium      M                 3           1906
10993                low      F                 1           1150
10994             medium      F                 1           1538
10995             medium      F                 6           1247
10996                low      F                 4           1155
10997             medium      M                 2           1210
10998                low      F                 6           1639

       Reached.on.Time_Y.N
10992                    0
10993                    0
10994                    1
10995                    0
10996                    0
10997                    0
10998                    0

In [26]:
###Part 2: 6 - Using shape() - Display the number of rows and columns in the dataset.
print(df.shape)

(10999, 12)

In [27]:
###Part 2: 7 - Print only the number of columns in the dataset.
print(df.shape[1])

12

In [28]:
### Part2: 8 - Using describe() - Display the statistical summary.
print(df.describe())

                ID  Customer_care_calls  Customer_rating  Cost_of_the_Product  \
count  10999.00000         10999.000000     10999.000000         10999.000000
mean    5500.00000             4.054459         2.990545           210.196836
std     3175.28214             1.141490         1.413603            48.063272
min        1.00000             2.000000         1.000000            96.000000
25%     2750.50000             3.000000         2.000000           169.000000
50%     5500.00000             4.000000         3.000000           214.000000
75%     8249.50000             5.000000         4.000000           251.000000
max    10999.00000             7.000000         5.000000           310.000000

       Prior_purchases  Discount_offered  Weight_in_gms  Reached.on.Time_Y.N
count     10999.000000      10999.000000   10999.000000         10999.000000
mean          3.567597         13.373216    3634.016729             0.596691
std           1.522860         16.205527    1635.377251             0.490584
min           2.000000          1.000000    1001.000000             0.000000
25%           3.000000          4.000000    1839.500000             0.000000
50%           3.000000          7.000000    4149.000000             1.000000
75%           4.000000         10.000000    5050.000000             1.000000
max          10.000000         65.000000    7846.000000             1.000000

In [29]:
### Part 2: 9 - Using info() -Display the total non-empty entries and datatypes of all columns.
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10999 entries, 0 to 10998
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Warehouse_block      10999 non-null  object
 2   Mode_of_Shipment     10999 non-null  object
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  object
 8   Gender               10999 non-null  object
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
 11  Reached.on.Time_Y.N  10999 non-null  int64
dtypes: int64(8), object(4)
memory usage: 1.0+ MB
None

In [32]:
### Part 2: 10 - Using value_counts() - Display the value count of each unique value in “Mode_of_shipment” column.
print(df['Mode_of_Shipment'].value_counts())

Mode_of_Shipment
Ship      7462
Flight    1777
Road      1760
Name: count, dtype: int64

In [33]:
###Part 2: 11 - Using unique() - Display the actual distinct values in “Warehouse_block” column.
print(df['Warehouse_block'].unique())

['D' 'F' 'A' 'B' 'C']

In [35]:
###Part 2: 12 - Using nunique() - Display the number of distinct values in “Warehouse_block” column.
print(df['Warehouse_block'].nunique())

5

In [36]:
### Part 2: 13 - Using mean() Display the mean of Weight_in_gms column.
print(df['Weight_in_gms'].mean())

3634.016728793527