In [1]:
import pandas as pd
# Create a sample DataFrame
data = {"fruit": ["apple", "banana", "orange", "mango", "pineapple", "grapes",],
"kgs": [0.5, 0.3, 0.7, 0.6, 0.4, 0.8]}
source = {"apple": "tree", "banana": "tree", "orange": "tree",
"grapes": "vine", "mango": "tree", "pineapple": "plant"}
df = pd.DataFrame(data)
#mapping fruits to source
df["source"] = df["fruit"].map(source)
print(df)

       fruit  kgs source
0      apple  0.5   tree
1     banana  0.3   tree
2     orange  0.7   tree
3      mango  0.6   tree
4  pineapple  0.4  plant
5     grapes  0.8   vine

In [9]:
import pandas as pd
from sklearn.cluster import KMeans
# Same data as previous examples
data = {'Temperature': [10, 20, 30, 40, 50, 60, 70, 80, 90]}
df = pd.DataFrame(data)
# Define the number of clusters (bins)
num_clusters = 3
# Create a KMeans model and fit it to the data
kmeans = KMeans(n_clusters=num_clusters, n_init='auto')
kmeans.fit(df[['Temperature']])
# Add the cluster labels as a new column
df['Temperature_Bin'] = kmeans.labels_ + 1 # Labels start from 0, so add 1
# Print the DataFrame with discretized data using KMeans
print(df)

   Temperature  Temperature_Bin
0           10                2
1           20                2
2           30                2
3           40                2
4           50                3
5           60                3
6           70                3
7           80                1
8           90                1

In [17]:
import pandas as pd
data = {'Country': ['USA', 'USA', 'USA', 'Canada', 'Canada', 'Canada'],
'Salary': [58000, 75000, 60000, 90000, 84000, 100000]}
df = pd.DataFrame(data)
# Compute quantiles for Salary
quantiles = df['Salary'].quantile([0.25, 0.5, 0.75])
print("Quantiles:")
print(quantiles)
# Group by 'Country' and compute multiple aggregation functions
agg_result = df.groupby('Country').agg({'Salary': ['mean', 'median', 'min', 'max']})
print("\nAggregation Result:")
print(agg_result)

Quantiles:
0.25    63750.0
0.50    79500.0
0.75    88500.0
Name: Salary, dtype: float64

Aggregation Result:
               Salary
                 mean   median    min     max
Country
Canada   91333.333333  90000.0  84000  100000
USA      64333.333333  60000.0  58000   75000

In [18]:
import pandas as pd
data = {'Name': ['David', 'July', 'July', 'Emily', 'David', 'Mike'],
'Country': ['USA', 'Canada', 'Canada', 'UK', 'USA', 'Australia'],
'Age': [25, 22, 28, 26, 25, 24],
'Salary': [58000, 75000, 60000, 90000, 84000, 100000]}
df = pd.DataFrame(data)
# Group by 'Country' and calculate the mean age for each country
country_mean_age = df.groupby('Country')['Age'].transform('mean')
# Add the mean age to the DataFrame
df['Mean_Age'] = country_mean_age
print(df)

    Name    Country  Age  Salary  Mean_Age
0  David        USA   25   58000      25.0
1   July     Canada   22   75000      25.0
2   July     Canada   28   60000      25.0
3  Emily         UK   26   90000      26.0
4  David        USA   25   84000      25.0
5   Mike  Australia   24  100000      24.0

In [19]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
# Create a sample DataFrame
data = {'Name': ['Dave', 'July', 'Brad', 'Ellen'],
'Age': [25, 30, 30, 35],
'Salary': [50000, 60000, 70000, 70000]}
df = pd.DataFrame(data)
# Scale numeric variables using StandardScaler
scaler = StandardScaler()
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']])
print(df)

    Name       Age    Salary
0   Dave -1.414214 -1.507557
1   July  0.000000 -0.301511
2   Brad  0.000000  0.904534
3  Ellen  1.414214  0.904534

In [20]:
import pandas as pd
# Sample data
data = {'gender': ['male', 'female', 'male', 'female', 'male'],
'age': [25, 30, 35, 28, 40],
'country': ['USA', 'Canada', 'UK', 'USA', 'Canada']}
# Create a DataFrame
df = pd.DataFrame(data)
# Convert categorical variable into dummy/indicator variables
dummy_df = pd.get_dummies(df)
# Convert boolean True/False to integer 0s and 1s
dummy_df = dummy_df.astype(int)
print(dummy_df)

   age  gender_female  gender_male  country_Canada  country_UK  country_USA
0   25              0            1               0           0            1
1   30              1            0               1           0            0
2   35              0            1               0           1            0
3   28              1            0               0           0            1
4   40              0            1               1           0            0