In [1]:
### 2 - Load and explore the dataset
import pandas as pd

# Load the dataset
penguins = pd.read_csv('penguins.csv')

# Display first few rows
print(penguins.head())

# Describe the dataset
print(penguins.describe())

  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0  Adelie  Torgersen            39.1           18.7              181.0
1  Adelie  Torgersen            39.5           17.4              186.0
2  Adelie  Torgersen            40.3           18.0              195.0
3  Adelie  Torgersen             NaN            NaN                NaN
4  Adelie  Torgersen            36.7           19.3              193.0

   body_mass_g     sex  year
0       3750.0    male  2007
1       3800.0  female  2007
2       3250.0  female  2007
3          NaN     NaN  2007
4       3450.0  female  2007
       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g  \
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

              year
count   344.000000
mean   2008.029070
std       0.818356
min    2007.000000
25%    2007.000000
50%    2008.000000
75%    2009.000000
max    2009.000000

In [2]:
#### - Data Reshaping in Pandas: Create a pivot table showing the average body mass for each species on each island.
# Pivoting
pivot_table = penguins.pivot_table(values='body_mass_g', index='species', columns='island', aggfunc='mean')
print(pivot_table)

island          Biscoe        Dream    Torgersen
species
Adelie     3709.659091  3688.392857  3706.372549
Chinstrap          NaN  3733.088235          NaN
Gentoo     5076.016260          NaN          NaN

In [3]:
### - Melt the pivot table back to a long format.
# Melting
melted_table = pivot_table.reset_index().melt(id_vars='species', value_vars=pivot_table.columns)
print(melted_table)

     species     island        value
0     Adelie     Biscoe  3709.659091
1  Chinstrap     Biscoe          NaN
2     Gentoo     Biscoe  5076.016260
3     Adelie      Dream  3688.392857
4  Chinstrap      Dream  3733.088235
5     Gentoo      Dream          NaN
6     Adelie  Torgersen  3706.372549
7  Chinstrap  Torgersen          NaN
8     Gentoo  Torgersen          NaN

In [4]:
### - Stack the dataframe and convert it to a multi-index series.
# Stacking
stacked_table = pivot_table.stack()
print(stacked_table)

species    island
Adelie     Biscoe       3709.659091
           Dream        3688.392857
           Torgersen    3706.372549
Chinstrap  Dream        3733.088235
Gentoo     Biscoe       5076.016260
dtype: float64

In [5]:
### - Unstack the multi-index series back to a dataframe.
# Unstacking
unstacked_table = stacked_table.unstack()
print(unstacked_table)

island          Biscoe        Dream    Torgersen
species
Adelie     3709.659091  3688.392857  3706.372549
Chinstrap          NaN  3733.088235          NaN
Gentoo     5076.016260          NaN          NaN

In [6]:
### - Categorical Extension Type in Pandas: Convert the species column to a categorical data type using the Categorical constructor.
# Convert species to categorical using Categorical constructor
penguins['species'] = pd.Categorical(penguins['species'])
print(penguins['species'].dtype)

category

In [ ]:
### - Use the astype('category') method to convert the island column to a categorical data type.

category